
.main-nav{
    background: var(--secondary);
    padding: 1.25rem 2.5%;
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.main-nav a{
    color: var(--light);
    text-decoration: none;

}
.main-nav .row {
   align-items: center;
}
.main-nav .row .links {
   display: flex;
}
.main-nav .row .nav-logo {
   flex: 1;
}

.main-nav .row .nav-cart {
   flex: 0 1 150px;
   justify-content: flex-start;
}
.main-nav .row .nav-login {
   flex: 0 1 50px;
   justify-content: flex-start;
}
.navbar-brand img {
   height: 50px;
}
.carousel-img{
   height: 100px;
   margin-top: 100px;
   width: 100%;
   display:contents;
   justify-content: center;
}

.home-header{
    margin-top: 1.5rem;
    width: 100%;
    height: 15vh;
    background: url();
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    text-align: center;
}

.home-header h2{
    font-size: 4rem;
    margin-bottom: 1rem;
    color: var(--dark);
}

.home header p {
    color: var(--dark);
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0,4);
}

main{
    width: 80%;
    padding-top: 90px;
    margin: auto;
    padding: 3rem 0 6rem 0;
    min-height: calc(100vh - 59px);

}
 .menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }

 .card{
    width: 25%;
    padding: 1rem;
 }

 .card-favorito{
   position: absolute;
   top: 9px;
   right: 20px;
 }
 .card-favorito i{
   color: rgb(216, 101, 101);
   font-size: 30px;
 }
 .card .content{
    border: 1px solid rgb(155, 155, 155);
 }
.card .content img{
    width: 100%;
 }

 .card .content h4{
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 1rem 0;
    width: 85%;
    margin: auto;
    border-bottom: 2px solid #ccc;
 }

 .card .content ul{
    padding: 1rem;
 }

 .card .ingredients{
    padding: 0 7.5px;
    margin-top: 1rem;
    border-bottom: 1px solid#ccc;
 }

 .card .ingredients li{
    text-transform: capitalize;
    margin-bottom: 0.25;

 }

 .card .price{
    font-size: 1.5rem;
    text-align: center;
    margin: 1.5rem 0 0.5rem 0;

 }
 .card .btn-row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
 }

 footer{
    background: var(--dark);
    text-align: center;
    color: var(--light);
    padding: 1rem;
    width: 100%;
    margin: auto;
    height: 100px;
   
 }

 .producto-view{
    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--shadow);
    border-radius: 4px;
    margin-top: 63px;
 }


 .producto-view .image img{
    width: 100%;
 }
 .producto-view .image{
   width: 300px;
   background-size: cover;
 }

 .producto-view .content{
    width: 60%;
    padding: 1rem;
 }

 .producto-view .content h4{
    text-transform: capitalize;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1rem;
    margin-bottom: 1rem;
 }

 .producto-view .desc {
    margin-bottom: 2rem;

 }

 .producto-view ul {
    margin: 1rem 0;
    padding-left: 2rem;

 }
 .producto-view .price-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
 }

 .cart {
    margin-top: 63px;
 }

 .cart h2{
    margin-bottom: 2rem;
 }

 .cart li{
    padding: 1rem;
    border-bottom: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .cart li img{
    width: 80px;
    margin-right: 1rem;
 }

 .cart li .product, 
 .cart li .price, 
 .cart li .btns{
    display: flex;
    align-items: center;

 }

 .cart li .product h4{
    font-size: 1.125rem;
    text-transform: capitalize;
 }

 .cart li .btn{
    width: 30px;
 }

 .cart li p{
    width: 50px;
    text-align: center;
 }

 .cart .total{
    padding-left: 1rem;
 }

 .cart .total h3{
    font-size: 1.5rem;
    margin: 2rem 0 1rem 0;

 }

 .cart .empty-cart{
    font-size: 1.125rem;
}

.not-found, .payment{
    padding-top: 9rem;
    text-align: center;
}

.not-found h1{
    font-size: 4rem;
    margin-bottom: 1rem;

}

.not-found p{
    margin-bottom: 3rem;
}

.vista-likes {
   /* margin-top: 96px; */
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 2rem;
   min-height: calc(100vh - 128px);
}

.payment i {
    font-size: 4rem;
    display: inline-block;
    margin-bottom: 2rem;
}
 @media (max-width: 992px){
    .card {
        width: 50%;
    }
 }

 @media (max-width: 768px){
    .producto-view .image {
        width: 100%;
        height: 30vh;
    }
    .producto-view .content{
        width: 100%;
     }
 }

@media (max-width: 592px) {
    .home-header {
        height: 60vh;
    }
    .home-header h1 {
        font-size: 2.5rem;
    }
    .home-header p {
        font-size: 1.25rem;
    }
    main{
        width: 90%;
    }
    .card {
        width: 100%;
    }
    .cart{
        padding: 0 1rem;
    }
    .cart li {
        flex-direction: column;
        align-items: flex-start;
    }
    .cart li .product{
        margin-bottom: 1.25rem;
    }
    .cart li .price {
        width: 100%;
        justify-content: space-between;
    }
    .cart li .price h4{
        font-size: 1.25rem;
    }
}

.iconos-footer .iconos-footer-logos{
   margin-right: 24px;
}

.iconos-footer .iconos-footer-logos{
   font-size: 36px;
   margin-right: 24px;
}


